@model UCP1_PAW_087_C.Models.Users

@{
    ViewData["Title"] = "Detail User";
}

<h1>Detail User</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Nama")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Email")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Password")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Jabatan")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPositionNavigation.PositionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Role")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRoleNavigation.RoleName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdUser">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
