@model IEnumerable<UCP1_PAW_087_C.Models.Attendance>

@{
    ViewData["Title"] = "Data Kehadiran";
}

<h1>Data Kehadiran</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-success text-decoration-none">Tambah Kehadiran</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("User")
            </th>
            <th>
                @Html.DisplayName("Tanggal Masuk")
            </th>
            <th>
                @Html.DisplayName("Tanggal Keluar")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdUserNavigation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckInDatetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOutDatetime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAttendance" class="btn btn-sm btn-primary text-decoration-none">Edit</a>
                <a asp-action="Details" asp-route-id="@item.IdAttendance" class="btn btn-sm btn-secondary text-decoration-none">Detail</a>
                <a asp-action="Delete" asp-route-id="@item.IdAttendance" class="btn btn-sm btn-danger text-decoration-none">Hapus</a>
            </td>
        </tr>
}
    </tbody>
</table>
