@model IEnumerable<UCP1_PAW_087_C.Models.Role>

@{
    ViewData["Title"] = "Data Role";
}

<h1>Data Role</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-success text-decoration-none">Tambah Role</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("ID Role")
            </th>
            <th>
                @Html.DisplayName("Nama Role")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdRole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRole" class="btn btn-sm btn-primary text-decoration-none">Edit</a>
                <a asp-action="Details" asp-route-id="@item.IdRole" class="btn btn-sm btn-secondary text-decoration-none">Detail</a>
                <a asp-action="Delete" asp-route-id="@item.IdRole" class="btn btn-sm btn-danger text-decoration-none">Hapus</a>
            </td>
        </tr>
}
    </tbody>
</table>
